@charset "utf-8";
p {
	margin-top: 0.75em;
	text-align: justify;
	font-size: 0.8em;
	margin-bottom: 0.75em;
}

h1, h2 {
	text-align: left
}

h2, h3 {
	font-weight: normal
}

h3 {
	text-align: center;
}

body {
	margin-left: 5%;
	margin-right: 5%;
}

#title {
	text-align: center;
	padding-bottom: 2px;
	border-bottom: 1px solid #000000;
}

#godline {
	padding-top: 10px;
	border-bottom: 1px solid #000000;
}
